// 높이
$hi20: #{'min(0.5rem,20px)'};
$hi40: #{'min(1rem,40px)'};
$hi60: #{'min(1.5rem,60px)'};
$hi80: #{'min(2rem,80px)'};
$hi120: #{'min(3rem,120px)'};
// 폰트
$fz11: #{'min(1.1em,11px)'};
$fz12: #{'min(1.2em,12px)'};
$fz14: #{'min(1.4em,14px)'};
$fz16: #{'min(1.6em,16px)'};
$fz18: #{'min(1.8em,18px)'};
$fz20: #{'min(2em,20px)'};
$fz22: #{'min(2.2em,22px)'};
// 컬러
$bgc: #093037;
$btm : 1px solid #c3c7c7;

// 그리드
@mixin grid($dev){
    @if($dev == 'pc'){
        width: 80%;
        max-width: 1080px;
    }
    @else{
        width: 90%;
        max-width: 700px;
    }
    margin: 0 auto;
}
// 이미지 수식
@mixin img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
// 폰트
@mixin ff($fontname, $url) {
    @font-face {
        font-family: '#{$fontname}';
        src: url('../css/fonts/#{$url}') format('truetype');
    }
}
@include ff(basker,'Baskervville-Regular.ttf');
@include ff(prata,'Prata-Regular.ttf');
@include ff(Freder,'FrederickatheGreat-Regular.ttf');
@include ff(Libre,'LibreBarcode39Text-Regular.ttf');


// 반응형 미디어쿼리
@mixin mob{
    @media (max-width:420px) and (min-width:0px){
        @content;
    }
}
@mixin tab{
    @media (max-width:1024px) and (min-width:0px){
        @content;
    }
}


html{
    font-size: 3vw;
    @include tab{
        font-size: 5vw;
    }
    body{
        font-size: 0.7vw;
        position: relative;
        overflow-x: hidden;
        @include tab{
            font-size: 1vw;
        }
    }
}



// 헤더 영역
.hdrArea{
    width: 10%;
    height: 100vh;
    position: fixed;
    background-color: $bgc;
    @include tab{
        display: none;
    }
    .hdrWrap{
        header{
            text-align: center;
            .logo{
                margin-top: $hi40;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('../images/mcqueen-logo_wh_2.png');
                height: $hi80;
                cursor: pointer;
            }
            nav{
                margin-top: $hi40;
                font-family: 'basker';
                h4{
                    margin-top: $hi40;
                    line-height: $hi40;
                    font-size: $fz16;
                    color: #fff;
                    cursor: pointer;
                    &:nth-child(2)~h4{
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}

// 컨텐츠 영역
.cntArea{
    width: 90%;
    margin-left: 10%;
    @include tab{
        width: 100%;
        margin-left: 0;
    }


    // tab 헤더
    .hdrWrap{
        display: none;
        @include tab{
            display: block;
            @include grid('');
            background-color: #fff;
        }
        header{
            @include tab{
            line-height: $hi80;
            height: $hi80;
            display: flex;
            justify-content: space-between;
            }
            @include mob{
                line-height: #{'max(2rem,40px)'};
                height: #{'max(2rem,40px)'};
            }
            .logo{
                cursor: pointer;
                @include tab{
                    height: $hi80;
                    width: calc(100% / 8 * 3);
                    margin: 0 auto;
                    @include img();
                    background-image: url('../images/mcqueen-logo_bk_2.png');
                }
                @include mob{
                    height: #{'max(2rem,40px)'};
                    width: 43%;
                }
            }
            nav{
                cursor: pointer;
                @include tab{
                    font-size: #{'min(3.5em,35px)'};
                }
                @include mob{
                    font-size: #{'max(3em,20px)'};
                }
                i{}
            }
        }
    }
    // 네브박스
    .navBoxWrap{
        display: none;
        @include tab{
            display: flex;
            justify-content: space-between;
            position: fixed;
            z-index: 6;
            top: 0;
            margin-left: -100vw;
            transition: all 0.5s;
        }
        .navBox{
            @include tab{
                height: 100vh;
                width: 90vw;
                background-color: #fff;
            }
            .logo{
                @include tab{
                    @include img();
                    background-image: url('../images/mcqueen-logo_bk_2.png');
                    height: $hi120;
                    width: calc(100% / 7 * 4);
                    margin: 0 auto;
                    margin-top: $hi120;
                }
            }
            nav{
                @include tab{
                    line-height: $hi80;
                    text-align: center;
                    margin-top: $hi120;
                }
                h4{
                    cursor: pointer;
                    @include tab{
                        font-size: #{'min(3em,30px)'};
                        font-family: 'basker';
                        border-top: 1px solid #c3c7c7;
                        &:nth-child(5){
                            border-bottom: 1px solid #c3c7c7;
                        }
                    }
                }
            }
            .sns{
                cursor: pointer;
                @include tab{
                    margin-top: $hi120;
                    text-align: center;
                    font-size: #{'min(4em,40px)'};
                    line-height: $hi80;
                }
                i{}
            }
            p{
                @include tab{
                    text-align: center;
                    font-size: $fz22;
                    line-height: $hi40;
                }
            }
        }
        .close{
            @include tab{
                height: 100vh;
                width: 10vw;
                background-color: #000;
                opacity: 0.4;
                position: relative;
            }
            .btn{
                cursor: pointer;
                @include tab{
                    font-size: #{'min(4em,40px)'};
                    height: $hi40;
                    color: #fff;
                    text-align: center;
                    position: absolute;
                    top: 0; bottom: 0; left: 0; right: 0;
                    margin: auto;
                }
            }
        }
    }

    // 메인
    .mainWrap{
        padding-top: $hi80;
        @include mob{
            padding-top: $hi20;
        }
        main{
            @include grid('pc');
            font-family: 'basker';
            text-align: center;
            @include tab{
                width: 100%;
            }
            .texts{
                h2{
                    font-size: $fz22;
                    line-height: $hi40;
                    @include tab{
                        font-size: $fz20;
                    }
                }
                p{
                    font-size: 14px;
                    line-height: $hi20;
                    height: $hi60;
                    width: calc(100% / 12 * 7.5);
                    overflow: hidden;
                    margin: 0 auto;
                    margin-top: $hi80;
                    @include tab{
                        display: none;
                    }
                } 
            }
            .images{
                margin-top: $hi40;
                display: flex;
                justify-content: space-between;
                .image{
                    width: calc(100% / 3 - 30px);
                    height: #{'min(13rem,520px)'};
                    box-shadow: 2px 2px 13px #000;
                    @include img();
                    @for $i from 1 through 3{
                        &.i#{$i}{
                            background-image: url('../images/sub03/sub03_main_i#{$i}.jpg');
                        }
                    }
                    @include tab{
                        height: #{'min(10rem,400px)'};
                        width: calc(100% / 3 - 20px);
                    }
                    @include mob{
                        width: calc(100% / 2 - 10px);
                        height: #{'max(6rem,240px)'};
                        &:nth-child(3){
                            display: none;
                        }
                    }
                }
            }
        }
    }

    // 배너
    .bnrWrap{
        margin-top: $hi120;
        @include tab{
            margin-top: $hi80;
        }
        .banner{
            @include grid('pc');
            @include tab{
                @include grid('');
            }
            &.bnr01{
                .bnrGr{
                    display: flex;
                    justify-content: space-between;
                    border-bottom: $btm;
                    border-top: $btm;
                    .image{
                        width: 50%;
                        height: #{'min(11rem,440px)'};
                        @include img();
                        @for $i from 1 through 3{
                            &.i#{$i}{
                                background-image: url('../images/sub03/sub03_bnr1_i#{$i}.jpg');
                            }
                        }
                        @include tab{
                            height: #{'min(9rem,360px)'};
                        }
                    }
                    .texts{
                        width: 50%;
                        font-family: 'basker';
                        text-align: center;
                        padding-top: $hi120 0 0;
                        @include tab{
                            padding-top: #{'min(2.5rem,100px)'};
                        }
                        h3{
                            font-size: $fz22;
                            line-height: $hi40;
                        }
                        p{
                            font-size: $fz14;
                            line-height: $hi20;
                            height: $hi80;
                            width: calc(100% / 6 * 4);
                            overflow: hidden;
                            margin: 0 auto;
                            margin-top: $hi40;
                        }
                    }
                    &:nth-child(2){
                        direction: rtl;
                    }
                }
            }
            &.bnr02{
                height: #{'min(10rem,400px)'};
                @include img();
                background-image: url('../images/sub03/sub03_bnr2_i1.jpg');
                background-attachment: fixed;
                color: #fff;
                text-align: center;
                padding: $hi60 0;
                font-family: 'basker';
                @include tab{
                    height: #{'min(9rem,360px)'};
                    padding: $hi40 0;
                }
                h2{
                    font-size: $fz22;
                    line-height: $hi40;
                    border-bottom: $btm;
                    width: calc(100% / 12 * 6);
                    margin: 0 auto;
                    @include tab{
                        width: calc(100% / 8 * 6);
                    }
                }
                form{
                    margin-top: $hi20;
                    font-size: $fz14;
                    h3{
                        line-height: $hi40;
                    }
                    input{
                        width: calc(100% / 12 * 6 - 20px);
                        height: $hi40;
                        background-color: transparent;
                        border: 1px solid #c3c7c7;
                        color: #fff;
                        text-align: center;
                        @include tab{
                            width: calc(100% / 8 * 5);
                        }
                    }
                    h4{
                        margin-top: $hi40;
                        line-height: $hi40;
                    }
                    button{
                        font-family: 'prata';
                        margin-top: $hi20;
                        line-height: $hi40;
                        border: 1px solid #fff;
                        background-color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    // 푸터
    .ftrWrap{
        margin-top: $hi120;
        background-color: #f3f3ec;
        @include tab{
            margin-top: $hi80;
        }
        footer{
            @include grid('pc');
            padding-top: $hi40;
            @include tab{
                @include grid('');
            }
            .info{
                display: flex;
                justify-content: space-between;
                @include tab{
                    display: block;
                }
                .ftrLeft{
                    width: calc(100% / 12 * 7);
                    display: flex;
                    justify-content: space-between;
                    @include tab{
                        display: none;
                    }
                    nav{
                        cursor: not-allowed;
                        h3{
                            font-family: 'prata';
                            font-size: $fz16;
                            line-height: $hi40;
                        }
                        h4{
                            font-family: 'basker';
                            font-size: $fz14;
                            line-height: #{'min(0.75rem,30px)'};
                        }
                    }
                }
                .ftrRight{
                    width: calc(100% / 12 * 3.5);
                    @include tab{
                        margin: 0 auto;
                    }
                    @include mob{
                        width: calc(100% / 4 * 3);
                    }
                    h3{
                        font-family: 'prata';
                        font-size: $fz16;
                        text-align: right;
                        line-height: $hi40;
                        @include tab{
                            text-align: center;
                        }
                    }
                    .sns{
                        font-size: #{'min(2.8em,28px)'};
                        display: flex;
                        justify-content: right;
                        text-align: center;
                        @include tab{
                            justify-content: center;
                        }
                        i{
                            line-height: $hi40;
                            margin-left: 10px;
                            cursor: pointer;
                            @include mob{
                                font-size: #{'min(2.8em,18px)'};
                            }
                        }
                    }
                    p{
                        font-family: 'basker';
                        font-size: $fz14;
                        line-height: $hi20;
                        text-align: right;
                        @include tab{
                            text-align: center;
                        }
                        @include mob{
                            padding-bottom: $hi40;
                            line-height: $hi40;
                        }
                    }
                }
            }
            .logo{
                margin-top: $hi40;
                font-family: 'Libre';
                font-size: #{'min(4.8em,48px)'};
                line-height: $hi80;
                border-top: 1px solid #c3c7c7;
                text-align: center;
                @include tab{
                    font-size: #{'min(4em,40px)'};
                    margin-top: $hi20;
                }
                @include mob{
                    display: none;
                }
            }
        }
    }

    // 스크롤 버튼
    .scrBtn{
        position: fixed;
        bottom: 0; right: 2%;
        color: #fff;
        background-color: #3e3e3e;
        width: calc(100% / 12);
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
        height: 40px;
        line-height: 40px;
        transition: height 0.3s;
        @include tab{
            width: calc(100% / 8);
        }
        @include mob{
            width: calc(100% / 4);
            height: 20px;
            line-height: 20px;
            right: 3%;
        }
        cursor: pointer;
        span{
            font-weight: 700;
            font-size: $fz18;
        }
        .top{
            font-size: $fz16;
        }
        .btm{
            font-size: $fz16;
        }
    }

}