// 높이
$hi20: #{'min(0.5rem,20px)'};
$hi40: #{'min(1rem,40px)'};
$hi60: #{'min(1.5rem,60px)'};
$hi80: #{'min(2rem,80px)'};
$hi120: #{'min(3rem,120px)'};
// 폰트
$fz12: #{'min(1.2em,12px)'};
$fz14: #{'min(1.4em,14px)'};
$fz16: #{'min(1.6em,16px)'};
$fz18: #{'min(1.8em,18px)'};
$fz20: #{'min(2em,20px)'};
$fz22: #{'min(2.2em,22px)'};
// 컬러
$bgc: #093037;

// 그리드
@mixin grid($dev){
    @if($dev == 'pc'){
        width: 80%;
        max-width: 1080px;
    }
    @else{
        width: 90%;
        max-width: 700px;
    }
    margin: 0 auto;
}
// 이미지 수식
@mixin img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
// 폰트
@mixin ff($fontname, $url) {
    @font-face {
        font-family: '#{$fontname}';
        src: url('../css/fonts/#{$url}') format('truetype');
    }
}
@include ff(basker,'Baskervville-Regular.ttf');
@include ff(prata,'Prata-Regular.ttf');
@include ff(Freder,'FrederickatheGreat-Regular.ttf');
@include ff(Libre,'LibreBarcode39Text-Regular.ttf');


// 반응형 미디어쿼리
@mixin mob{
    @media (max-width:420px) and (min-width:0px){
        @content;
    }
}
@mixin tab{
    @media (max-width:1024px) and (min-width:0px){
        @content;
    }
}


html{
    font-size: 3vw;
    body{
        font-size: 0.7vw;
        position: relative;
        overflow-x: hidden;
    }
}



// 헤더 영역
.hdrArea{
    width: 10%;
    height: 100vh;
    background-color: $bgc;
    position: fixed;
    @include tab{
        display: none;
    }
    .hdrWrap{
        header{
            text-align: center;
            .logo{
                margin-top: $hi40;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('../images/mcqueen-logo_wh_2.png');
                height: $hi80;
                cursor: pointer;
            }
            nav{
                margin-top: $hi40;
                font-family: 'basker';
                h4{
                    margin-top: $hi40;
                    line-height: $hi40;
                    font-size: $fz16;
                    color: #fff;
                    cursor: pointer;
                    &:nth-child(3)~h4{
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}

// 컨텐츠 영역
.cntArea{
    width: 90%;
    margin-left: 10%;
    @include tab{
        width: 100%;
        margin-left: 0;
    }

    // tab 헤더
    .hdrWrap{
        display: none;
        @include tab{
            display: block;
            @include grid('');
            background-color: #fff;
        }
        header{
            @include tab{
            line-height: $hi80;
            height: $hi80;
            display: flex;
            justify-content: space-between;
            }
            .logo{
                @include tab{
                    height: $hi80;
                    width: calc(100% / 8 * 2);
                    margin: 0 auto;
                    @include img();
                    background-image: url('../images/mcqueen-logo_bk_2.png');
                }
            }
            nav{
                @include tab{
                    font-size: #{'min(3.5em,35px)'};
                }
                i{}
            }
        }
    }
    // 네브박스
    .navBoxWrap{
        display: none;
        @include tab{
            display: block;
            display: flex;
            justify-content: space-between;
            position: fixed;
            z-index: 6;
            top: 0;
            margin-left: -100%;
        }
        .navBox{
            @include tab{
                height: 100vh;
                width: 90vw;
                background-color: #fff;
            }
            .logo{
                @include tab{
                    @include img();
                    background-image: url('../images/mcqueen-logo_bk_2.png');
                    height: $hi120;
                    width: calc(100% / 7 * 2);
                    margin: 0 auto;
                    margin-top: $hi120;
                }
            }
            nav{
                @include tab{
                    line-height: $hi80;
                    text-align: center;
                    margin-top: $hi120;
                }
                h4{
                    @include tab{
                        font-size: #{'min(3em,30px)'};
                        font-family: 'basker';
                        border-top: 1px solid #c3c7c7;
                        &:nth-child(5){
                            border-bottom: 1px solid #c3c7c7;
                        }
                    }
                }
            }
            .sns{
                @include tab{
                    margin-top: $hi120;
                    text-align: center;
                    font-size: #{'min(4em,40px)'};
                    line-height: $hi80;
                }
                i{}
            }
            p{
                @include tab{
                    text-align: center;
                    font-size: $fz22;
                    line-height: $hi40;
                }
            }
        }
        .close{
            @include tab{
                height: 100vh;
                width: 10vw;
                background-color: #000;
                opacity: 0.4;
                position: relative;
            }
            .btn{
                @include tab{
                    font-size: #{'min(4em,40px)'};
                    height: $hi40;
                    color: #fff;
                    text-align: center;
                    position: absolute;
                    top: 0; bottom: 0; left: 0; right: 0;
                    margin: auto;
                }
            }
        }
    }

    // 헤더탑
    .hdrTopWrap{
        background-color: #fff;
        opacity: 0.7;
        position: relative;
        z-index: 1;
        @include tab{
            display: none;
        }
        .headerTop{
            @include grid('pc');
            text-align: center;
            h4{
                font-size: #{'min(1.2em,12px)'};
                line-height: $hi40;
                color: #000;
                font-family: 'prata';
                letter-spacing: 1.5px;
            }
        }
    }

    // 메인
    .mainWrap{
        margin-top: #{'min(-1rem,-40px)'};
        @include tab{
            margin-top: 0;
        }
        main{
            width: 100%;
            height: #{'min(20rem,800px)'};
            overflow: hidden;
            background-color: #000;
            position: relative;
            @include tab{
                height: #{'min(40rem,400px)'};
            }
            video{
                width: 100%;
                position: absolute;
                top: 0; left: 0; right: 0; bottom: 0;
                margin: auto;
            }
        }
    }

    // 컨텐츠
    .cntWrap{
        margin-top: $hi120;
        @include tab{
            margin-top: $hi80;
        }
        .content{
            @include grid('pc');
            @include tab{
                @include grid('');
            }
            header{
                font-family: 'prata';
                h5{
                    font-size: $fz14;
                    line-height: $hi20;
                }
                h2{
                    font-size: $fz22;
                    line-height: $hi40;
                    @include tab{
                        font-size: $fz20;
                    }
                }
                border-bottom: 1px solid #c3c7c7;
            }
            section{
                margin-top: $hi40;
                article{
                    .texts{
                        p{
                            font-size: $fz14;
                            line-height: $hi20;
                            font-family: 'prata';
                            letter-spacing: 1px;
                            @include tab{
                                font-size: $fz12;
                            }
                        }
                    }
                }
            }
            // 컨텐츠 01
            &.cnt01{
                display: flex;
                justify-content: space-between;
                .cntLeft{
                    width: calc(50% - 20px);
                    @include tab{
                        display: none;
                    }
                    header{
                        h5{}
                        h2{}
                    }
                    section{
                        article{
                            .image{
                                position: relative;
                                .btn{
                                    font-weight: 700;
                                    font-size: $fz14;
                                    color: #fff;
                                    line-height: #{'min(0.75rem,30px)'};
                                    height: #{'min(0.75rem,30px)'};
                                    text-align: center;
                                    position: absolute;
                                    top: 0; bottom: 0; left: 0; right: 0;
                                    margin: auto;
                                    letter-spacing: 1px;
                                    cursor: pointer;
                                    &:hover::after{
                                        display: block;
                                        content: '';
                                        width: calc(100% / 6);
                                        height: 1px;
                                        background-color: #fff;
                                        margin: 0 auto;
                                    }
                                }
                                height: #{'min(9rem,360px)'};
                                @include img();
                                background-image: url('../images/main/main_cnt1_left02.jpg');
                            }
                            .texts{
                                margin-top: $hi20;
                                text-align: center;
                                p{
                                    height: #{'min(3.5rem,140px)'};
                                    overflow: hidden;
                                    &:nth-child(2){
                                        margin-top: $hi40;
                                        height: $hi120;
                                    }
                                }
                            }
                        }
                    }
                }
                .cntRight{
                    width: calc(50% - 20px);
                    @include tab{
                        width: 100%;
                    }
                    header{
                        &::after{
                            display: block;
                            content: '';
                            clear: both;
                        }
                        h5{}
                        h2{
                            float: left;
                        }
                        .btn{
                            float: right;
                            line-height: $hi40;
                            cursor: not-allowed;
                            font-size: $fz14;
                        }
                    }
                    section{
                        margin-top: 0;
                        article{
                            margin-top: $hi40;
                            display: flex;
                            justify-content: space-between;
                            @include tab{
                                margin-top: $hi20;
                                &:nth-child(1){
                                    margin-top: $hi40;
                                }
                            }
                            .image{
                                width: calc(100% / 6 * 2.5);
                                height: #{'min(5rem,200px)'};
                                @include img();
                                @for $i from 1 through 3{
                                    &.i#{$i}{
                                        background-image: url('../images/main/main_cnt1_i#{$i}.jpg');
                                    }
                                }
                                @include tab{
                                    width: calc(100% / 8 * 2);
                                }
                            }
                            .texts{
                                width: calc(100% / 6 * 3.3);
                                height: #{'min(5rem,200px)'};
                                transition: border-left 0.3s;
                                @include tab{
                                    width: calc(100% / 8 * 5.8);
                                }
                                &:hover{
                                    border-left: 10px solid $bgc;
                                    *{
                                        margin-left: 10px;
                                    }
                                }
                                h3{
                                    font-size: $fz18;
                                    line-height: $hi40;
                                    font-family: 'prata';
                                }
                                p{
                                    font-size: $fz14;
                                    line-height: $hi20;
                                    margin-top: $hi20;
                                    height: $hi80;
                                    overflow: hidden;
                                    letter-spacing: 1px;
                                    @include tab{
                                        font-size: $fz12;
                                    }
                                }
                                .btn{
                                    font-size: $fz14;
                                    line-height: $hi20;
                                    font-family: 'prata';
                                    letter-spacing: 1px;
                                    margin-top: $hi40;
                                    cursor: not-allowed;
                                }
                            }
                        }
                    }
                }
            }
            &.cnt02{
                header{
                    display: flex;
                    justify-content: space-between;
                    h2{}
                    .btn{
                        cursor: not-allowed;
                    }
                }
                section{
                    margin-top: 0;
                    .artView{
                        width: 100%;
                        overflow: hidden;
                        .artGroup{
                            width: 400%;
                            display: flex;
                            justify-content: space-between;
                            .art{
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                article{
                                    width: calc(100% / 4 - 10px);
                                    height: #{'min(8rem,320px)'};
                                    position: relative;
                                    .image{
                                        height: #{'min(6rem,240px)'};
                                        margin-top: $hi80;
                                        transition: all 0.3s;
                                        @include img();
                                        @for $i from 1 through 16{
                                            &.i#{$i}{
                                                background-image: url('../images/main/main_cnt2_i#{$i}.png');
                                            }
                                        }
                                        &:hover{
                                            margin-top: $hi40;
                                            height: #{'min(7rem,280px)'};
                                        }
                                        &:hover+.texts{
                                            opacity: 1;
                                        }
                                    }
                                    .texts{
                                        color: #565656;                                        opacity: 0;
                                        height: $hi40;
                                        position: absolute;
                                        top: 0; left: 0; right: 0;
                                        margin: auto;
                                        transition: opacity 0.5s;
                                        h5{
                                            text-align: center;
                                            line-height: $hi40;
                                        }
                                    }
                                }
                            }
                        }
                        .artBtm{
                            margin-top: #{'min(-1rem,-40px)'};
                            height: #{'min(4rem,160px)'};
                            width: 100%;
                            @include img();
                            background-image: url('../images/main/main_cnt2_btm.png');
                        }
                    }
                    ul.tab{
                        display: flex;
                        justify-content: space-between;
                        li{
                            margin-top: $hi20;
                            text-align: center;
                            line-height: $hi40;
                            font-family: 'basker';
                            font-size: $fz18;
                            cursor: pointer;
                            &:hover{
                                border-bottom: 1px solid #000;
                            }
                        }
                    }
                }
            }
        }
    }

    // 배너
    .bnrWrap{
        margin-top: $hi120;
        @include tab{
            margin-top: $hi80;
        }
        .banner{
            @include grid('pc');
            @include tab{
                @include grid('');
            }
            &.bnr01{
                display: flex;
                justify-content: space-between;
                height: #{'min(16.5rem,660px)'};
                position: relative;
                @include tab{
                    display: block;
                    // height: #{'min(17rem,680px)'};
                    // 하이트값 정확히 계산해서 레이아웃 겹치지 않게 조절하기
                }
                .texts{
                    width: calc(50% - 20px);
                    @include tab{
                        width: 100%;
                    }
                    h2{
                        font-size: #{'min(4.8em,48px)'};
                        line-height: $hi80;
                        font-family: 'freder';
                        text-align: center;
                        @include tab{
                            font-size: #{'min(4em,40px)'};
                            line-height: $hi60;
                        }
                    }
                    h3{
                        font-size: $fz22;
                        line-height: $hi40;
                        font-family: 'prata';
                        text-align: center;
                        @include tab{
                            font-size: $fz20;
                        }
                    }
                    p{
                        padding-top: $hi60;
                        font-size: $fz14;
                        line-height: $hi20;
                        height: #{'min(4rem,160px)'};
                        width: calc(100% / 6 * 4);
                        overflow: hidden;
                        font-family: 'prata';
                        letter-spacing: 1px;
                        margin: 0 auto;
                        text-align: center;
                        @include tab{
                            display: none;
                        }
                    }
                    .btns{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        font-size: #{'min(10em,100px)'};
                        margin-top: $hi40;
                        @include tab{
                            width: calc(100% / 8 * 6);
                            font-size: #{'min(5em,50px)'};
                            line-height: $hi60;
                            margin-top: 0;
                            margin: 0 auto;
                        }
                        .left{
                            cursor: pointer;
                        }
                        .right{
                            cursor: pointer;
                        }
                    }
                }
                .images{
                    width: calc(50% - 20px);
                    @include tab{
                        width: calc(100% / 8 * 4.5);
                        margin: 0 auto;
                    }
                    .imgView{
                        width: 100%;
                        overflow: hidden;
                        .imgGroup{
                            width: 300%;
                            display: flex;
                            justify-content: space-between;
                            .image{
                                width: calc(100% / 3);
                                height: #{'min(13rem,520px)'};
                                @include img();
                                @for $i from 1 through 3{
                                    &.i#{$i}{
                                        background-image: url('../images/main/main_bnr1_i#{$i}.jpg');
                                    }
                                }
                                @include tab{
                                    height: #{'min(12rem,480px)'};
                                }
                            }
                        }
                    }
                }
                ul.paging{
                    width: calc(100% / 12 * 2);
                    height: $hi40;
                    position: absolute;
                    bottom: 0; right: 0; left: 0;
                    margin: auto;
                    padding: 10px 0;
                    display: flex;
                    justify-content: space-between;
                    li{
                        width: 10px;
                        height: 10px;
                        border: 1px solid $bgc;
                        border-radius: 50%;
                        margin: 0 auto;
                        cursor: pointer;
                        &.show{
                            background-color: $bgc;
                        }
                    }
                }
            }
            &.bnr02{
                display: flex;
                justify-content: space-between;
                .sns{
                    width: calc(100% / 4);
                    height: #{'min(7rem,280px)'};
                    position: relative;
                    cursor: pointer;
                    .image{
                        position: absolute;
                        width: 100%;
                        height: #{'min(7rem,280px)'};
                        @include img();
                        @for $i from 1 through 4{
                            &.i#{$i}{
                                background-image: url('../images/main/main_bnr2_i#{$i}.jpg');
                            }
                        }
                    }
                    .icon{
                        position: absolute;
                        width: 100%;
                        height: #{'min(7rem,280px)'};
                        background-color: #000;
                        opacity: 0;
                        text-align: center;
                        padding: #{'min(2.5rem,100px)'};
                        transition: opacity 0.3s;
                        &:hover{
                            opacity: 0.4;
                        }
                        i{
                            color: #fff;
                            font-size: #{'min(4em,40px)'};
                            line-height: $hi80;
                        }
                    }
                }
            }
        }
    }

    // 푸터
    .ftrWrap{
        margin-top: $hi120;
        background-color: #f3f3ec;
        footer{
            @include grid('pc');
            padding-top: $hi40;
            .info{
                display: flex;
                justify-content: space-between;
                .ftrLeft{
                    width: calc(100% / 12 * 7);
                    display: flex;
                    justify-content: space-between;
                    nav{
                        cursor: not-allowed;
                        h3{
                            font-family: 'prata';
                            font-size: $fz16;
                            line-height: $hi40;
                        }
                        h4{
                            font-family: 'basker';
                            font-size: $fz14;
                            line-height: #{'min(0.75rem,30px)'};
                        }
                    }
                }
                .ftrRight{
                    width: calc(100% / 12 * 3.5);
                    h3{
                        font-family: 'prata';
                        font-size: $fz16;
                        text-align: right;
                    }
                    .sns{
                        font-size: #{'min(2.8em,28px)'};
                        display: flex;
                        justify-content: right;
                        i{
                            line-height: $hi40;
                            margin-left: 10px;
                            cursor: pointer;
                        }
                    }
                    p{
                        font-family: 'basker';
                        font-size: $fz14;
                        line-height: $hi20;
                        text-align: right;
                    }
                }
            }
            .logo{
                margin-top: $hi40;
                font-family: 'Libre';
                font-size: #{'min(4.8em,48px)'};
                line-height: $hi80;
                border-top: 1px solid #c3c7c7;
                text-align: center;
            }
        }
    }

    // 스크롤 버튼
    .scrBtn{
        position: fixed;
        bottom: 0; right: 2%;
        color: #fff;
        background-color: #3e3e3e;
        width: calc(100% / 12);
        text-align: center;
        line-height: $hi40;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: $hi40;
        overflow: hidden;
        cursor: pointer;
        // transition: height 0.5s;
        // &:hover{
        //     height: $hi120;
        // }
        span{
            font-weight: 700;
            font-size: $fz18;
        }
        .top{
            font-size: $fz16;
        }
        .btm{
            font-size: $fz16;
        }
    }

    // 라이트박스
    .lightBox{
        display: none;
        position: fixed;
        top: 0;
        width: 90vw;
        height: 100vh;
        .videoBack{
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.4;
        }
        .video{
            width: 45vw;
            height: 45vh;
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            margin: auto;
            overflow: hidden;
            video{
                width: 100%;
            }
        }
        .btn{
            position: absolute;
            font-size: $fz22;
            top: 24%;
            right: 25%;
            color: #fff;
            cursor: pointer;
            i{}
        }
    }






}